.row.clearfix
  .eight.columns.clearfix
    %h1
      Nice Hair (NOT!)
.row.clearfix
  .sixteen.columns.clearfix
    %h3
      You must be wearing headphones for the binaural effect.
  
.row.clearfix
  .sixteen.columns.clearfix
    #pad-box
      %img{src: '/mrs3d-hair.png', id: "cutting-pad"}

.row.clearfix
  .audio-clips
  