%h1
  Nice Hair (NOT!)
%h3
  You must be wearing headphones for the binaural effect.
  

/ =form_tag(sciss_path, remote:true) do
/   %button Hear Sciss
  
#pad-box
  %img{src: '/mrs3d-hair.png', id: "cutting-pad"}

.audio-clips
