:javascript
  var clip_data = #{@clips}

.row.clearfix
  .sixteen.columns.clearfix
    %h1
      Visualizations:

    =form_tag(get_visualization_path, remote:true) do
      =submit_tag "Time"
      =submit_tag "Spatial"
.row.clearfix
  .sixteen.columns.clearfix
    #data-visualizations-stage
