<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-type">
  </head>

  <body>
    <h1><%= @user.email %></h1>
    <h2>Thank you for your suggestion:</h2>
    <p>
      <%= @message %>
    </p>
  </body>
</html>